.sidebar {
    width: 220px;
    height: 100vh;
    background: #0d1b2a;
    color: white;
    padding: 30px 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 18px 0;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar li:hover {
    background: #1b263b;
}
